article {
    min-height: 100px;
    /* margin-top: 100px; */
}


.article_form {
    // display: flex;
    /* text-align: center; */
    justify-content: center;
}



/* content_login_left */
.main_form_user .content_login_left {
    width: 40%;
    border-right: 1px solid #e5e5e5;
}

.content_login_left .content_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.content_login h2 {
    font-size: 1.3rem;
    color: #294150;
}

.content_login p {
    width: 70%;
    font-size: 0.9rem;
    color: #9F224E;
}

/*  content_login_right*/
.main_form_user .content_login_right {
    width: 60%;
}

.content_login_right .content_tieuDe_login {
    text-align: center;
    margin-bottom: 30px;
}

.content_tieuDe_login h2 {
    margin-bottom: 10px;
}

.content_tieuDe_login p {
    font-size: 0.8rem;
    margin: 0;
}

/* form */
.form_user {
    width: 65%;
    margin: auto;
}

.form_user .form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form_group label {
    margin-bottom: 10px;
    color: #9F9F9F;
    font-size: 0.8rem;
}

.form_group input {
    height: 25px;
    padding: 15px 10px;
    /* font-size: 0.9rem; */
}

.inp_form {
    background-color: #9F224E;
    color: white;
    border: 0;
    padding: 10px 25px;
    cursor: pointer;
}

.wrap {
    width: 100%;
    margin: auto;
}

.wrap p {
    font-size: 0.8rem;
    color: #9F224E;
    text-align: center;
}

.wrap p a {
    color: #9F224E;
}

.message {
    margin-bottom: 0px;
    font-size: 0.9rem;
}

.success {
    color: green;
}

.failure {
    color: red;
}


.message-errors {
    color: red;
    font-size: 0.75rem;
}